/* Google Font Added  */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

/* Common Css Style  */
* {
    margin: 0;
    padding: 0;
    font-family: "Merriweather", serif;
}

/* Banner Section  */
.banner-container {
    background-image: url('../image/Banner\ Image.png');
    width: 100%;
    height: 90vh;
    background-size: 100%;
    margin-top: 50px;
    background-repeat: no-repeat;
    border-radius: 20px;
}

.banner-container::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 90vh;
    top: 50px;
    left: 0;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.55);
}

.banner-item {
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.banner-item > h3 {
    font-size: 32px;
    padding-bottom: 30px;
}

.banner-item > h1 {
    font-size: 72px;
    padding-bottom: 5px;
}

.banner-item > h2 {
    font-size: 72px;
}

/* Categories Section  */
.categories-container {
    margin-top: 120px;
}

.categories-container > h1 {
    color: #FF0000;
    font-family: "Inter", sans-serif;
    text-align: center;
    font-size: 88px;
    font-weight: bold;
    padding-bottom: 48px;
}

.categories-container > h5 {
    font-size: 24px;
    color: #FF0000;
    font-family: "Inter", sans-serif;
    text-align: center;
}

.categories-container > h2 {
    font-size: 48px;
    font-family: "Inter", sans-serif;
    text-align: center;
    font-weight: bold;
    padding-top: 16px;
    padding-bottom: 50px;
}

.new-pic {
    display: flex;
    align-items: center;
    justify-content: center;
}